<div class="outerbox">
    <div class="textbox">
        <span class="heading">
            Learn to code by watching others
        </span>
        <p class="para">
            See how experienced developers solve problems in real-time. Watching scripted tutorials is great, 
            but understanding how developers think is invaluable. 
        </p>
    </div>
    <div class="formbox">
        <button class="offerbtn"><b>Try it free 7 days</b> then $20/mo. thereafter</button>
        <div class="innerform">
            <form action="" id = "loginform" #login = "ngForm" (ngSubmit)="claim(login.value)">
                <input type="text" placeholder="First Name" name="fName" ngModel required>
                <input type="text" placeholder="Last Name" name="lName" ngModel required>
                <input type="email" placeholder="Email" name="email" ngModel required email>
                <input type="password" placeholder="Password" name="password" ngModel required minlength="6">
                <button type="submit" [disabled]="login.invalid">{{'Claim your free trial'|uppercase}}</button>
            </form>
            <p>By clicking the button, you are agreeing to our <a href="">Terms and Services</a></p>
        </div>
      
    </div>
</div>


