<!-- <form action="" #login="ngForm" (ngSubmit)="signIn(login)">
    <input type="email" name="email" id="" placeholder="Enter Email" ngModel email #email = "ngModel"><br>
    <p *ngIf="email.invalid"><small style="color:red">Enter Valid Email</small></p>
    <input type="password" name="password" id="" placeholder="Enter Password" ngModel minlength="8" #password = "ngModel"><br>
    <p *ngIf="password.invalid"><small style="color:red">Enter Valid Password</small></p>
    <button type="submit" [disabled]="login.invalid">Sign In</button>
</form> -->

<!-- <app-temp-form></app-temp-form> -->

<app-reactive-form></app-reactive-form>